.filter-section {
  padding: 0px 20px 0px 20px;

  .product-sec {
    padding: 0px 20px 20px 20px;
  }

  .filter-details{
  .heading-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
}
